.container {
    text-align: center;
    
}

.containerWrapper{
  font-family: sans-serif;
  text-align: center;
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
  padding: 10px;
}
    
.questioncard {
  margin: 0 auto;
  width: 85%; 
  height: auto;
  background-color: gray;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  animation: questioncard-appear 1s ease-out forwards;
}

@keyframes questioncard-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.questioncard ul {
  list-style: none;
}

.questioncard ul li {
  margin-top: 8px;
  background-color: darkgray;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.questiontext, .questiontextThree {
  color: darkblue;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .questiontextThree {
    font-size: 12px;
    
  }
} 

h2{
  font-weight: bold;
  font-size: 20px;
}


.finalresults {
  font-weight: bold;
  margin: 0 auto;
  width: 85%;
  height: auto;
  margin-top: 64px;
  background-color: gray;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.finalresults button{
  background-color: red; 
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .finalresults button{
    flex-direction:column;
    display: block;
    border: 5px solid #e78888;
    align-items: center;
    width: 100%;
    font-weight: 800;
    border-radius: 20px;
  }
}

.opt{
  display: table;   
    margin: 0 auto;
}

.optIn{
  display: inline;
}

.resultDisplay {
  background-color: #a892ee;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.resultDisplay button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.resultDisplay button:hover,
.resultDisplay button:active {
  background-color: #510674;
  border-color: #510674;
}

.resultDisplay button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.resultDisplay button.alternative:hover,
.resultDisplay button.alternative:active {
  background-color: #ddb3f8;
}

.stopwatch{
    height: 36vh;
    width: 23vw;
    background-color: #0d0c1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
    padding-top: 15px
}

@media (max-width: 768px) {
  .stopwatch {
    height: 20%;
    width: 80%;
  }
}
.solutionThree{
  color: white;
  font-size: 20px;
}
@media (max-width: 768px) {
  .solutionThree{
    font-size: 12px;
  }
}

.errorMessage{
  border: 2px solid red;
  background-color: palevioletred; 
}

.loadingMessage{
  border: 2px solid yellow;
  background-color: goldenrod;
  
}

.successMessage{
  border: 2px solid green;
  background-color: rgb(112, 216, 155); 
}

.flashedMsg{
  padding: 15px;
}


